<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>AngularJS-filtre</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js">	</script>
<script src="app/todo.js"></script>
<script src="app/controllers/TodoController.js"></script>
<script src="app/filters/BangFilter.js"></script>
<script src="app/filters/User.js"></script>
</head>
<body ng-app="todo">
	<header>
		<ng-include src="views/header.html"></ng-include>
	</header>
	<div ng-controller="TodoController as todoCtrl">
		<input type="text" ng-model="nombre ">
		<br>
		{{'Bonjour'|bang : nombre}}
		<br>
		<input type="text" ng-model="search ">
		<ul>
			<li ng-repeat="task in todoCtrl.tasks | orderBy:'description':todoCtrl.desc |filter:search">
				{{task.description }}
			</li>
		</ul>
		<input type="text" ng-model="newtask">
		<button ng-click="todoCtrl.addtask(newtask)">add</button>
		<button ng-click="todoCtrl.tri()">change</button>
 <br>
 <br>

 {{todoCtrl.user1|username}}===Pauline<br>
 {{todoCtrl.user2|username}}===p.klein1@outlook.fr<br>
 {{todoCtrl.user3|username}}===John Doe<br>
	</div>
	<footer>
		<ng-include src="views/footer.html"></ng-include>
	</footer>
</body>
</html>